
 {% extends "nav.html" %}

{% block content %}



   <form action="{% url 'search_results' %}" method="get">
<div class="topnav">
<a class="active" href="#home">Home</a>
<a  class="active" href="#about">About</a>
<a  class="active" href="#contact">Contact</a>
<a class="active" href="{% url 'logout' %}">Logout</a>



  <input name="q" type="text" placeholder="Search...">


</form>
</div>


<br><br>


<form action="" method="POST">
{% csrf_token %}
{% for i in todo %}

<hr>
<h1>{{i}}</h1>
 {{i.date_todo}}<br>
 <a href="{% url 'detail' i.id  %}">Detail</a>
<a href="{% url 'update' i.id  %}">Update</a>
<a href="{% url 'delete' i.id  %}">Delete</a>

{% endfor %}<hr>    
    Title<br>
    <input type="text" name="title" ><br>
 Message<br>
  <textarea type="message" name="decription" rows="7" cols="70" ></textarea><br>

<button>Submit</button>
</form>


<div class="pagination">
    <span class="step-links">
        {% if todo.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ todo.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ todo.number }} of {{ todo.paginator.num_pages }}.
        </span>

        {% if todo.has_next %}
            <a href="?page={{ todo.next_page_number }}">next</a>
            <a href="?page={{ todo.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>



{% endblock content %}